{% extends "layout.html" %}

<title>{% block title %} excel data in tabular form {% endblock %}</title>
{% block body %}

{{ pagination.info }}
{{ pagination.links }}
<div id="customers">

<table border="1">
    <thead>
        <tr>
            {% for col in colnames %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for record in data %}
        <tr>
            {% for col in colnames %}
            <td>{{ record[col] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}





















